@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&family=Montserrat:wght@200&family=PT+Sans&family=Quicksand:wght@500&family=Spline+Sans:wght@300&display=swap");

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --color-one: #24527a;
  --color-two: #455d7a;
  --color-three: #f95959;
  --color-four: #e3e3e3;
  --color-fifth: #5dacbd;

  --fs-big: 4.5rem;
  --fs-medium: 2.5rem;
  --fs-small: 1.2rem;
}

body {
  font-family: "Quicksand", sans-serif;
}

/* Navbar */
.container {
  margin-inline: auto;
  width: min(50%, 70.5rem);
}
.container__narrow {
  max-width: 35rem;
}
header {
  background: linear-gradient(to right, #24527a, #455d7a, #5dacbd);
  height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.navbar .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-links li {
  list-style-type: none;
  padding: 1rem 0.6rem;
}
.navbar .nav-links li a {
  text-decoration: none;
  color: var(--color-four);
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
.navbar .nav-links li a:hover {
  color: var(--color-three);
}
/* Hamburger Menu */
.hamburger {
  display: flex;
  display: none;
  cursor: pointer;
}
.hamburger .bar {
  display: flex;
  background-color: var(--color-four);
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* Logo */
.logo {
  font-size: var(--fs-small);
  color: var(--color-four);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.logo:hover {
  color: var(--color-three);
}
/* Main Content Container */
.main-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-four);
  margin-top: 4rem;
}
.main-col {
  width: 48%;
}
.designer-desk {
  width: 100%;
}
.title {
  font-size: 3rem;
}
.text-small {
  font-size: var(--fs-small);
}
.subtitle {
  font-size: var(--fs-medium);
}
/* about container */
main {
  background: var(--color-four);
  height: 80vh;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-small);
  padding-top: 1.5rem;
}
.text-orange {
  color: var(--color-three);
}
.about-me-title {
  padding: 1rem 0;
  
}
.about-me-btn {
  background: var(--color-one);
  color: var(--color-four);
  font-size: var(--fs-small);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: 0.2s ease-in-out;
  margin-top: 1.5rem;
}
.about-me-btn:hover {
background: var(--color-three);
transform: scale(1.2);
}
.about-col {
  width: 48%;
}
.about-me-img {
  width: 100%;
}
/* Skills Container */
section {
  background: var(--color-four);
  height: 60vh;
}
.skill-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.col {
  width: 18%;
}
.skill-img {
  width: 60%;
}
/* Projects */
.project-section {
  height: 80vh;
}
.project-container {
  display: flex;
  justify-content: space-between;
  min-height: 20rem;
  margin-top: 1rem;
}
.project-col {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  width: 31%;
  transition: 0.3s ease-in-out;
  
}
.project-col:hover {
  transform: scale(1.06);
}
.project-link {
  text-decoration: none;
  color: black;
}
a {
  text-align: center;
}
.list {
  padding-top: 1rem;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  border-radius: 0 0 10px 10px;
}

.project-title {
  color: var(--color-four);
  text-transform: uppercase;
  height: 10vh;
}
/* Clone Site Background */
.clone {
  background: var(--color-three);
}
/* HTML Email */
.html {
  background: var(--color-two);
}
/* Mini Project */
.mini {
  background: var(--color-fifth);
}
/* Footer */
footer {
  height: 35vh;
  background: var(--color-one);
  color: var(--color-four);
}
.footer-container {
  padding: 1rem 0;
}
.footer-container a {
  text-decoration: none;
  color: var(--color-four);
  transition: 0.2s ease-in-out;
}
.footer-container a:hover {
  color: var(--color-three);
}
.contact-me {
  padding-bottom: 1rem;
  color: var(--color-three);
}

/* About Page */
.about_main {
  padding-top: 3rem;
  height: 100vh;
}
.about_me_content {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.small_header {
  height: 10vh;
}
.about_me_col {
  width: 48%;
}
.about_title {
  color: var(--color-three);
}
.image_me {
  width: 100%;
}
/* Mini Projects Page */

.my_projects_container {
display: flex;
justify-content: space-between;
}


/* All media query */
@media (max-width: 970px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .project-section {
    height: 100vh;
  }
  .project-container {
    flex-direction: column;
  }
  .project-col {
    width: 100%;
    margin: 0.5rem 0;
  }
  }
  /* Projects Section */
  .project-section {
    height: 100vh;
    overflow: hidden;
  }
  @media (max-width: 550px) {
    .main-content-container {
      flex-direction: column;
    }
    main {
      height: 100vh;
    }
    .main-intro {
      width: 100%;
      text-align: center;
      padding-bottom: 0.5rem;
    }
    .about-container {
      flex-direction: column;
      
    }
.about-me-summary {
  width: 100%;
  text-align: center;
}

  
  }

@media (max-width: 430px) {
  .navbar {
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .nav-links li {
    font-size: 0.5rem;
  }
}