* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 50%;
  margin-inline: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(/images/pexels-oleksandr-pidvalnyi-1227513.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

header .img-desc img {
  width: 60px;
  height: 60px;
  -webkit-clip-path: circle();
          clip-path: circle();
}

header nav {
  position: fixed;
  top: 0;
  width: 10%;
  min-height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #36454F;
}

header nav ul {
  margin-top: 2.5rem;
  width: 100%;
}

header nav ul li {
  list-style-type: none;
  display: block;
  width: 100%;
  padding: 20px 0;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

header nav ul li:hover {
  background-color: #ff752b;
}

header nav ul li a {
  text-decoration: none;
  color: #FAF9F6;
}

header .center-div {
  width: 50%;
  margin-inline: auto;
}

header .intro-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .intro-content h1 {
  font-size: 3rem;
  color: #ff752b;
  font-weight: 800;
}

header .intro-content p {
  padding: 0.5rem 0;
  color: #36454F;
  font-weight: 700;
}

header .intro-content .btn {
  padding: 0.3rem .7rem;
  border: none;
  border-radius: 2px;
  background: #0c7e7a;
  color: #FAF9F6;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}

header .intro-content .btn:hover {
  background: #ff752b;
}

/* Section 1*/
.sect-1 {
  min-height: 100vh;
  background: #FAF9F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect-1 .width-margin-container {
  width: 75%;
  margin-inline: auto;
}

.sect-1 .about-me-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
}

.sect-1 .about-me-grid .img img {
  width: 100%;
  height: 100%;
  border: 2px solid #ff752b;
}

.sect-1 .about-me-grid .grid-col-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.sect-1 .about-me-grid .grid-col-desc h1 {
  color: #36454F;
}

/* Skills Section */
.sect-2 {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */